<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssk.shop.repository.AdminRoleMapper">

    <resultMap id="BaseResultMap" type="com.ssk.shop.entity.AdminRole">
        <!--@Table admin_role-->
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="rolePermission" column="role_permission" jdbcType="OTHER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="enableState" column="enable_state" jdbcType="OTHER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="OTHER"/>
        <result property="organizationId" column="organization_id" jdbcType="VARCHAR"/>
        <result property="roleType" column="role_type" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>